<a href="https://colab.research.google.com/github/jb-bioinfo-acc/beginning-bioinformatics/blob/main/Bioinformatics_Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello world")

hello world

In [3]:
name = input("Enter your name:")
print("Hello," + name)

Enter your name:Jada
Hello,Jada

In [ ]:
x = 5

In [ ]:
# Example 1: Simple assignment
my_variable = 10
print(my_variable)

10

In [ ]:
# Example 2: Assigning the result of an expression
another_variable = 5 + 3
print(another_variable)

8

In [ ]:
# Example 3: Assigning a string value
text_variable = "Hello, Colab!"
print(text_variable)

Hello, Colab!

In [ ]:
# Integer
my_integer = 10
print(f"Integer: {my_integer}, Type: {type(my_integer)}")

Integer: 10, Type: <class 'int'>

In [ ]:
# Float
my_float = 10.5
print(f"Float: {my_float}, Type: {type(my_float)}")

Float: 10.5, Type: <class 'float'>

In [ ]:
# String
my_string = "Hello, Python!"
print(f"String: {my_string}, Type: {type(my_string)}")

String: Hello, Python!, Type: <class 'str'>

In [ ]:
# Boolean
my_boolean = True
print(f"Boolean: {my_boolean}, Type: {type(my_boolean)}")

Boolean: True, Type: <class 'bool'>

In [ ]:
# List
my_list = [1, 2, 3, "four", 5.0]
print(f"List: {my_list}, Type: {type(my_list)}")

List: [1, 2, 3, 'four', 5.0], Type: <class 'list'>

In [ ]:
# Tuple
my_tuple = (10, 20, "thirty")
print(f"Tuple: {my_tuple}, Type: {type(my_tuple)}")

Tuple: (10, 20, 'thirty'), Type: <class 'tuple'>

In [ ]:
# Dictionary
my_dictionary = {"name": "Alice", "age": 30}
print(f"Dictionary: {my_dictionary}, Type: {type(my_dictionary)}")

Dictionary: {'name': 'Alice', 'age': 30}, Type: <class 'dict'>

In [ ]:
# Set
my_set = {1, 2, 3, 3, 4} # Note: Sets automatically remove duplicates
print(f"Set: {my_set}, Type: {type(my_set)}")

Set: {1, 2, 3, 4}, Type: <class 'set'>

In [4]:
# Get the lengths of the legs a and b from user input
try:
  a = int(input("Enter the length of leg a (an integer less than 1000): "))
  b = int(input("Enter the length of leg b (an integer less than 1000): "))

  # Check if a and b are within the specified range
  if 0 < a < 1000 and 0 < b < 1000:
    # Calculate the square of the hypotenuse (c^2)
    c_squared = a**2 + b**2

    # Print the result
    print(f"The square of the hypotenuse is: {c_squared}")
  else:
    print("Please ensure both a and b are positive integers less than 1000.")

except ValueError:
  print("Invalid input. Please enter integers for the lengths.")

Enter the length of leg a (an integer less than 1000): 978
Enter the length of leg b (an integer less than 1000): 980
The square of the hypotenuse is: 1916884

In [15]:
# Substitute the item at index 1 in the list
my_list[1]= "World"
print(my_list)

['Hello', 'World', 'Alfred R. Wallace', 'Bioinformatics']

In [9]:
# Add an item at index 1 in the list
my_list[2]= "Bioinformatics"
print(my_list)

['Hello', 'World', 'Bioinformatics']

In [14]:
print(my_list)

['Hello', 'Bioinformatics', 'Alfred R. Wallace', 'Bioinformatics']

In [7]:
# Create a list with 3 elements and then print them

my_list = ["Hello", "World", "charles Darwin"]
print (my_list[1])

World

In [10]:
# Insert an item at a specific index
# For example, to insert "Another Item" at index 1:
my_list.insert(1, "Another Item")
print(my_list)

['Hello', 'Another Item', 'World', 'Bioinformatics']

In [13]:
print(my_list[2:4])

['Alfred R. Wallace', 'Bioinformatics']

In [20]:
my_string = "ZQnt4vhSCpAHQ4A89zx0jeU212xedTyVRubnRMyCiP9Ixjev0uhUrP4zFrgpHtULZdYPA4RemizUUe3GeZxoTsGhogmehelyimzfHVV82YN3r8Z90qm09JKMoxqPVVVa2iPulWzcBivnxvJKrV79JIrUVqbJiWRTY3Cp0i3"
print(my_string[70:75], my_string[74:91],my_string[90:96])

Remiz zUUe3GeZxoTsGhogm mehely